<style>
    h5 {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3] card-title">Noteworthy technology
                    acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>

<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>

<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<div class="swiper-slide">
    <div class="max-w-sm bg-[#252525] shadow">
        <div class="bg-black opacity-20 inline-block overflow-hidden">
            <a href="#">
                <img src="./dist/images/placeholder.png" alt=""
                    class="hover:scale-125 duration-500 transition-transform " />
            </a>
        </div>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#f3f3f3]">Noteworthy technology acquisitions
                    2021</h5>
            </a>
            <p class="mb-10 text-[16px]">Here are the biggest enterprise technology acquisitions of 2021 so far, in
                reverse
                chronological order.</p>
            <!-- Add some components here like framework and such. -->
            <div class="flex mx-auto items-center justify-center gap-4">

                <a href="#"
                    class=" flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        stroke="#f3f3f3">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9 8L5 11.6923L9 16M15 8L19 11.6923L15 16" stroke="#f3f3f3" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </a>

                <a href="#"
                    class="w-full flex gap-1 items-center justify-center px-6 py-2 text-sm font-medium text-center text-white border hover:bg-[#151515] transition duration-700">
                    Live View
                </a>
            </div>

        </div>

    </div>
</div>


<!-- 
<script>
    function truncateTitle() {
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            const title = card.querySelector('.card-title');
            const cardWidth = card.offsetWidth;
            title.style.width = cardWidth + 'px';
        });
    }

    window.addEventListener('resize', truncateTitle);
    window.addEventListener('load', truncateTitle);
</script> -->