@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fonts */
  @font-face {
    font-family: "Maragasa";
    src: local("Maragasa"), url("../dist/Maragasa.otf") format("opentype");
  }

  /* * {
    @apply border;
    @apply border-red-500;
  } */

  h1 {
    @apply text-[#404040];
    @apply font-['Open_Sans'];
    @apply text-[128px];
    @apply font-[600];
  }
  h2 {
    @apply font-['Open_Sans'];
    @apply text-[128px];
    @apply font-[600];
   }
  h3 {
    font-family: "Maragasa", sans-serif;
    @apply tracking-[.10em];
    @apply text-[1.5rem];
    @apply text-[#f3f3f3];
    @apply font-[600];
    @apply sm:text-[1.5rem];
  }
  p {
    @apply text-[18px];
    @apply text-[#f3f3f3];
  }
  section {
    @apply max-w-7xl;
    @apply mx-auto;
  }
  span {
    @apply text-[14px];
    @apply text-[#252525];
    @apply font-[500];
  }
}
